<!DOCTYPE html>
<html>

<head>
    <title>Document</title>
    <script src='./angular.min.js'></script>
    <script>
        var mymodule = angular.module("myapp", []);

        mymodule.controller("mycontroller", function ($scope) {
            $scope.names = ['india', 'srilanka', 'england', 'japan'];
            $scope.shopping = [
                {item: 'coconut', price: 50},
                {item: 'pepper', price: 10},
                {item: 'chilli', price: 80},
                {item: 'carrot', price: 20},
            ];
        });

    </script>
</head>

<body ng-app="myapp">
    <div ng-controller="mycontroller">
        <input type="text" ng-model="search" placeholder="Search..." autofocus>
        <ul>
            <li ng-repeat="name in names | orderBy:'-' | filter:search">{{name}}</li>
        </ul>
        <hr>
        <ul>
            <li ng-repeat="order in shopping | orderBy:'-item'">{{order.item}} - {{order.price | currency:'Rs.'}}</li>
        </ul>
    </div>
</body>

</html>