<div class='contact'>
    <h1>CONTACT</h1>
    <form name="contactForm" ng-submit="sendMessage()" novalidate>
        <input type="text" placeholder="Name" name="name" ng-model="contact.name" ng-required="true" />
        <div ng-show="contactForm.name.$invalid && contactForm.name.$touched">
            <small style="color:red; display:block;text-align:center;">Enter a valid Name</small>
        </div>
        <input type="email" placeholder="Email" name="email" ng-model="contact.email" ng-required="true" />
        <div ng-show="contactForm.email.$invalid && contactForm.email.$touched">
            <small style="color:red; display:block;text-align:center;">Enter a valid Email</small>
        </div>
        <textarea name="message" placeholder="Your Message" cols="30" rows="3" ng-model="contact.message" ng-required="true"></textarea>
        <div ng-show="contactForm.message.$invalid && contactForm.message.$touched">
            <small style="color:red; display:block;text-align:center;">Enter a valid Message</small>
        </div>
        <input type="submit" value="Send" ng-disabled="contactForm.$invalid"/>
    </form>
</div>